html {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, menu{
    list-style: none;
}

body {
  height: 100vh;
  background-color: #DDDBD4;
}

/* Structure */
#app{
    z-index: 2;
    position: relative;
}
.grid-container {
  max-width: 900px;
  margin: 0 auto;
  min-height: 850px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 70px 4fr 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-top: 50px;
}

.div-1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div-2 {
  grid-area: 2 / 1 / 4 / 2;
}
.div-3 {
  grid-area: 1 / 2 / 2 / 3;
}
.div-4 {
  grid-area: 2 / 2 / 3 / 3;
}
.div-5 {
  grid-area: 3 / 2 / 4 / 3;
}

/* Utility Classes */
.bg-green{
    background-color: #019689;
    position: absolute;
    width: 100%;
    height: 193px;
}

.profile-img{
    width: 50px;
    border-radius: 50%;
}

.bg-gray{
    background-color: #EBE9EB;
}

/* header */

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 15px;
}

.user__icon{
    color: gray;
    cursor: pointer;
}

/* Debugg */

/* div[class^="div-"] {
  border: 1px solid blue;
} */

/* contacts sidebar */

.contacts{
    background-color: white;
}

.contacts__notify{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background-color: #8EDAFD;
    font-size: 14px;
}

.contacts__notify-text p{
    font-weight: bold;
}

.contacts__notify-text small{
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.notify-icon{
    font-size: 18px;
    background-color: white;
    color: #8EDAFD;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    /* search bar */

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #EBE9EB;
    border-bottom: 1px solid lightgray;
}

.search__btn{
    padding: 6px 15px;
    border: none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: white;
    cursor: pointer;
    margin-right: 2px;
}

.search__bar{
    width: 100%;
    padding: 6px;
    border: none;
    background-color: white;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.search__bar:focus{
    outline: 1px solid lightgray;
}

/* Contact list */

.contacts__item{
    border-bottom: 1px solid lightgray;
    padding: 10px;
    display: flex;
    gap: 15px;
}

.contacts__item:last-child{
    border: none;
}

.contacts__item:hover{
    background-color: #EBE9EB;
}

.contact__info{
    flex-grow: 1;
}

.contact__hour{
    font-size: 8px;
}
/* current contact */

.current-contact{
    border-left: 2px solid #E3E1E3;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.contact__info small{
    font-size: 10px;
}

.current-contact__icon{
    display: flex;
    align-items: center;
    gap: 15px;
    color: gray;
}

.current-contact__icon i{
    cursor: pointer;
}

/* chat */

.chat{
    background-image: url(../img/mine.jpg);
    padding: 40px;
}

.chat__messages{
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.sent{
    position: relative;
    align-self: flex-end;
    background-color: #D7F9BC;
    padding: 15px;
    border-radius: 15px;
    max-width: 60%;
}

.received{
    position: relative;
    align-self: flex-start;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    max-width: 60%; 
}

.chat__hour{
    font-size: 7px;
    position: absolute;
    right: 7px;
    bottom: 5px;
}

/* Message bar */

.message-bar{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 15px 30px;
}

.message-bar i {
    font-size: 20px;
    cursor: pointer;
}

.message-bar__text{
    flex-grow: 1;
    height: 100%;
    border: none;
    border-radius: 15px;
    padding-left: 30px;
}

.message-bar__text:focus{
    outline: 1px solid lightgray;
}
