<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/bfd5138bab.js"
      crossorigin="anonymous"
    ></script>
    <script src=" https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js "></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title>Boolzap</title>
  </head>
  <body>
    <div class="bg-green"></div>
    <div id="app">
      <div class="grid-container">

        <!-- User info -->
        <div class="div-1 user bg-gray">
            <div class="user-info">
                <img class="profile-img" src="./img/avatar_io.jpg" alt="">
                <strong>Francesco Pio</strong>
            </div>
            <i class="fa-solid fa-ellipsis-vertical user__icon"></i>
        </div>

        <!-- contacts -->
        <div class="div-2 contacts">
            <!-- Notify bar -->
            <div class="contacts__notify">
                <i class="fa-solid fa-bell-slash notify-icon"></i>
                <div class="contacts__notify-text">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <small>Clicca qui per attivare le notifiche</small>
                </div>
            </div>
            
            <!-- Search bar -->
            <div class="search">
                <button class="search__btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <input class="search__bar" type="search" placeholder="Cerca o inizia una nuova chat">
            </div>

            <!-- Contacts list -->
            <ul class="contacts__list">
                <li class="contacts__item" v-for="(contact, index) in contacts" :key="index" :class="{'active': index === currentIndex}" @click="changeContactOnClick(index)">
                    <img class="profile-img" :src="contact.avatar" alt="">
                    <div class="contact__info">
                        <h4>{{ contact.name }}</h4>
                        <small>Ultimo messaggio</small>
                    </div>
                    <small class="contact__hour">12:00</small>
            </ul>
        </div>

        <!-- current contact -->
        <div class="div-3 bg-gray current-contact">           
                <img class="profile-img" :src="contacts[currentIndex].avatar" alt="">
                <div class="contact__info">
                    <h4>{{ contacts[currentIndex].name }}</h4>
                    <small>Ultimo accesso alle 12:00</small>
                </div>
                <div class="current-contact__icon">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i> 
                </div>           
        </div>

        <!-- Chat -->
        <div class="div-4 chat">
            <ul class="chat__messages">
                <li :class=" text.status ==='sent' ?  'sent' : 'received'" v-for="(text, index) in contacts[currentIndex].messages" :key="index">
                    <p>{{ text.message }}</p>
                    <small class="chat__hour">12:00</small>
                </li>
            </ul>
        </div>

        <!-- Message bar -->
        <div class="div-5 message-bar bg-gray">
            <i class="fa-regular fa-face-smile"></i>
            <input class="message-bar__text" type="text" placeholder="Scrivi messaggio">
            <i class="fa-solid fa-microphone"></i>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
